apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: dev-secret-store
  namespace: dev
spec:
  provider:
    kubernetes:
      remoteNamespace: deps
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          key: ca.crt
      auth:
        serviceAccount:
          name: external-secrets-sa
